body{
    margin: 0;
    overflow-y: hidden;
    display: flex;
    height: 100vh;
    position: relative;
    align-items: center;
    justify-content: center;
}

*{
    box-sizing: border-box;
}

#uapContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    max-width: 250px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
    position: relative;
    top: -80px;
}

#uapInformation{
    margin-bottom: 10px;
}

#heading{
    font-size: 1.875rem;
    font-weight: bold;
}

.text{
    font-family: system-ui;
    font-size: 0.875rem;
}

input{
    padding: 5px;
    border-radius: 10px;
    outline: none;
    border: 1px solid black;
    font-size: 1rem;
}

button{
    background-color: #1f883d;
    border: 1px solid;
    border-radius: 5px;
    font-size: 1rem;
    color: white;
    padding: 5px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    margin-top: 40px;
}

button:active{
    background-color: #16602a;
}

.inputFields{
    margin-top: 10px;
}

@media (max-width: 767px) {
    #uapContainer{
        top: 0px
    }
}
