{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'uap/styles.css' %}">
</head>
<body>
    <div id="uapContainer">
        <div id="uapInformation">
            <span class="text" id="heading">{% block info %}{%endblock%}</span>
        </div>
        <form method="post">
            {% block content %}
    
            {% endblock %}
            <button type="submit">{% block buttonInfo %}{% endblock %}</button>
        </form>
    </div>
    
    <script src="{% static 'uap/script.js' %}"></script>
</body>
</html>